body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #7c58b3;
  text-decoration: none;
  transition: color 0.1s;
}
.democlass {
  color: red;
}
a:hover {
  color: #bea3e6;
}

button {
  display: block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.choices button {
  display: show;
}

#demo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #b28ee3;
  height: 70px;
  font-size: 50px;
  font-family:Arial;
}

#demo:hover {
  background-color: #9562dd;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

li {
  padding: 5px;
  list-style: decimal inside none;
  background-color: #b28ee3;
  cursor: pointer;
}

li:hover {
  background-color: #dec4ff;
}
li:nth-child(odd) {
  background-color: #a684d4;
}
li:nth-child(odd):hover {
  background-color: #dec4ff;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;

}
.hide {
  display: none;

}

.start {
  text-align: center;
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(0, 0, 0);
}
